<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>YatraWeb</display-name>
	<servlet>
		<servlet-name>reservation</servlet-name>
		<servlet-class>com.yw.servlet.ReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reservation</servlet-name>
		<url-pattern>/reservation</url-pattern>
	</servlet-mapping>
</web-app>